body {
    margin: 0;
    background-color: #f8f8f1;
    font-family: 'Athletics', Arial, sans-serif;
    height: 100vh;
}

/* Header START */
.main-header-container {
    background-color: #f8f8f1;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 165px;
    height: 70px;
    margin-left: 40%;
    margin-top: 1rem;
    cursor: pointer;
}

.nav-buttons {
    margin-right: 4rem;
    margin-top: 1rem;
}
.about-button {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #eceae0;
    border: none;
    color: #272923;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 999px;
    margin-right: 20px;
    height: 50px;
    width: 100px;
    transition: background-color 0.2s ease;
}

.work-with-me-button {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #f8f8f1;
    border: none;
    color: #272923;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 999px;
    margin-right: 20px;
    height: 50px;
    width: 160px;
    transition: background-color 0.2s ease;
}

.work-with-me-button:hover {
    background-color: #eceae0;
}

/* RESOURCES BUTTON DROPDOWN MENU START */
.dropdown {
    position: relative;
    display: inline-block;
}

.resources-button {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #f8f8f1;
    border: none;
    color: #272923;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 999px;
    margin-right: 20px;
    height: 50px;
    width: 160px;
    transition: background-color 0.2s ease;
}

.resources-button:hover {
    background-color: #eceae0;
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
/* RESOURCES BUTTON DROPDOWN MENU END */

.book-a-call-button {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #5e7036;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 999px;
    margin-right: 10px;
    height: 50px;
    width: 160px;
    transition: background-color 0.2s ease;
}
.book-a-call-button:hover {
    background-color: #84916a;
}
/* Header END */

/* FIRST IMAGE SECTION START */
.first-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.about-page-first-image {
    width: 61rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 30px;
    pointer-events: none;
}
.green-background-on-first-image {
    position: absolute;
    width: 430px; 
    height: 460px;
    background-color: #5e7036;
    bottom: 0;
    top: 350px;
    left: 272px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.green-background-text-container {
    position: absolute;
    top: 510px;
    left: 300px;
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.green-background-first-p {
    font-family: "Englebert", cursive;
    font-size: 47px;
    color: #eceae0;
    margin-left: -1rem;
    margin-bottom: -10px;
}
.green-background-second-p{
    font-family: "Noto Sans Linear A", sans-serif;
    font-size: 17px;
    color: #eceae0;
    margin-left: -5px;
}
/* FIRST IMAGE SECTION END */

/* ABOUT ME SECTION START */
.about-me-image {
    width: 24rem;
    height: 33rem;
    margin-left: 21%;
    border-radius: 30px;
    border: 1px solid #272923;
    pointer-events: none;
}

.about-me-full-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 4rem;
}

.about-me-container {
    margin-left: 3rem;
}

.about-me-p1 {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #272923;
    margin-bottom: -2px;
}

.about-me-p2 {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-size: 17px;
    color: #272923;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.only-one-p2{
    font-weight: 600;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
}

.about-me-p3 {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-size: 17px;
    color: #272923;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.about-me-p4 {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-size: 17px;
    color: #272923;
    margin-bottom: 2rem;
    line-height: 1.5;
}
/* ABOUT ME SECTION END */

/* MY FOCUS SECTION START */
.my-focus-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-left: 22%;
}
.my-focus-p1 {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #272923;
    margin-bottom: -2px;
}
.my-focus-p2 {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #272923;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.my-focus-p3 {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-size: 18px;
    color: #272923;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.my-focus-p4 {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-size: 18px;
    color: #272923;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.marketing-options-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marketing-options-button-container > p {
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-size: 33px;
    color: #272923;
    margin-bottom: -1.5rem;
}
.marketing-options-button { 
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 17px;
    background-color: #dfaa26;
    border: 1px solid #272923;
    color: #272923;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px 20px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin-top: 4rem;
}

.marketing-options-button:hover {
    background-color: #f5c66b;
    opacity: 0.8;
}
/* MY FOCUS SECTION END */

/* FOOTER START */
.three-footer-containers {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.first-footer-container,
.second-footer-container,
.third-footer-container {
    border: 1px solid #272923;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 30rem;
}
.first-footer-container,
.second-footer-container,
.third-footer-container {
    border-right: none;
}

.first-footer-container {
    border-left: none;
}

.footer-logo {
    width: 130px;
    height: 130px;
    margin-bottom: 1rem;
}

.first-footer-p {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #272923;
    margin-bottom: 1rem;
    cursor: pointer;
}

.second-footer-p {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #272923;
    margin-bottom: 1rem;
}

.third-footer-p {
    font-family: "Noto Sans Symbols 2", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #272923;
    margin-bottom: 1rem;
    cursor: pointer;
}

.privacy-policy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
}

.footer-p-1 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 15px;
    color: #272923;
    cursor: pointer;
    margin-left: 1.5rem;
}

.footer-p-2 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 15px;
    color: #272923;
    cursor: pointer;
    margin-right: 1.5rem;
}
/* FOOTER END */